<template>
  <div class="calendar">
    <div v-for="month in months" :key="month.key" class="month">
      <header>{{ fullMonth(month.month) }}</header>
      <div
        v-for="weekday in weekdays"
        :key="weekday"
        :title="weekday"
        class="weekday"
      >
        {{ weekday.toUpperCase().slice(0, 2) }}
      </div>
      <div
        v-for="n in month.day"
        :key="`${month.month}-0(${n})`"
        class="empty"
      ></div>
      <div v-for="n in month.end" :key="`${month.month}-${n}`" class="day">
        {{ n + month.start - 1 }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Tridate, TriMonth, daysInWeek, TriWeekday } from "@/Tritime";
import range from "lodash/range";

const weekdays = range(daysInWeek).map(v => {
  return TriWeekday[v];
});

@Component({
  props: {
    year: {
      type: Number,
      required: true
    }
  }
})
export default class App extends Vue {
  get months(): Array<{ month: number; start: number; end: number }> {
    return [9, 3, 4, 5, 6, 7, 8, 1, 2].map((m, i) => {
      const start = new Tridate(this.$props.year as number, m, 1);
      return {
        key: i,
        month: start.month,
        day: start.day,
        start: start.date,
        end: start.maxDate()
      };
    });
  }

  readonly weekdays = weekdays;

  public fullMonth(month: number) {
    return TriMonth[month];
  }
}
</script>

<style>
.calendar {
  justify-content: space-around;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
}

.calendar,
.month {
  display: flex;
  flex-wrap: wrap;
}

.month {
  margin: 1em 0.5em;
  justify-content: flex-start;
  max-width: calc(3ch * 7);
}

.month header {
  flex: 100%;
  font-weight: bold;
  background-color: magenta;
  color: black;
}

.weekday,
.empty,
.day {
  flex: 0 calc(100% / 7);
}

.weekday {
  color: magenta;
}
</style>
