<template>
  <span>
    {{ weekday }}, {{ day }} of the {{ month }} {{ year }}, {{ hour }}:{{
      moment
    }}:{{ second }}
  </span>
</template>

<script lang="ts">
import Vue from "vue";
import { TriMonth, TriWeekday, Tridate } from "../Tritime";

export default Vue.extend({
  props: {
    timezone: {
      type: Number,
      default: 0
    },
    target: {
      type: Date,
      required: true
    },
    ticking: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    const timer = this.$props.ticking
      ? setInterval(() => {
          this.$data.time.tick();
        }, 1000)
      : -1;

    return {
      time: Tridate.fromTerran(this.$props.target),
      timer: timer
    };
  },
  computed: {
    second: function(): string {
      return this.time.second.toString().padStart(2, "0");
    },
    moment: function(): string {
      return this.time.moment.toString().padStart(2, "0");
    },
    hour: function(): string {
      return this.time.hour.toString();
    },
    day: function(): string {
      let day = this.time.date;
      let ender = "th";
      if (day % 10 == 1 && day != 11) {
        ender = "st";
      } else if (day % 10 == 2 && day != 12) {
        ender = "nd";
      } else if (day % 10 == 3 && day != 13) {
        ender = "rd";
      }

      return day + ender;
    },
    weekday: function(): string {
      return TriWeekday[this.time.day];
    },
    month: function(): string {
      return TriMonth[this.time.month];
    },
    year: function(): string {
      return this.time.year.toString();
    }
  },
  watch: {
    target: function(newTarget, oldTarget) {
      this.time = new Tridate(newTarget);
    },
    ticking: function(newTicking, oldTicking) {
      if (newTicking) {
        this.timer = setInterval(() => {
          this.$data.time.tick();
        }, 1000);
      } else {
        clearInterval(this.timer);
      }
    }
  }
});
</script>

<style></style>
