<template>
  <div class="converter">
    <component
      :is="currentConverter + 'Converter'"
      :input="date"
      @terran="currentConverter = converters[0]"
      @lariena="currentConverter = converters[1]"
      @set-date="setDate"
    ></component>
    <div class="line moons">
      <div class="header">Moons</div>
      <div class="output">
        <span :title="'Crea in ' + moons.name.crea" class="spacing"
          >C: {{ moons.emoji.crea }},</span
        >
        <span :title="'Edalia in ' + moons.name.edalia" class="spacing"
          >E: {{ moons.emoji.edalia }},</span
        >
        <span :title="'Byrien in ' + moons.name.byrien" class="spacing"
          >B: {{ moons.emoji.byrien }}</span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TerranConverter from "./TerranConverter.vue";
import LarienaConverter from "./LarienaConverter.vue";
import { Tridate } from "@/Tritime";
import { getMoons, MoonPhase, MoonEmoji } from "@/dates/moons";

export default Vue.extend({
  components: { TerranConverter, LarienaConverter },
  data: function(): {
    date: Date;
    currentConverter: string;
    converters: string[];
  } {
    return {
      date: Tridate.epoch,
      currentConverter: "Terran",
      converters: ["Terran", "Lariena"]
    };
  },
  computed: {
    moons: function(): {
      name: { crea: string; edalia: string; byrien: string };
      emoji: { crea: string; edalia: string; byrien: string };
    } {
      const date = Tridate.fromTerran(this.date);
      const moons = getMoons(date);
      return {
        name: {
          crea: MoonPhase[moons.crea],
          edalia: MoonPhase[moons.edalia],
          byrien: MoonPhase[moons.byrien]
        },
        emoji: {
          crea: MoonEmoji[moons.crea],
          edalia: MoonEmoji[moons.edalia],
          byrien: MoonEmoji[moons.byrien]
        }
      };
    }
  },
  methods: {
    setDate: function(date: Date) {
      this.date = date;
    }
  }
});
</script>

<style>
.converter {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 16px;
}

.converter .line * {
  display: inline-block;
}

.converter .weekday {
  width: 60px;
  margin: 0 1ch 2px 0;
  border-radius: 4px 4px;
  padding: 0 1ch;
  color: white;
  background-color: inherit;
}

.converter .header {
  width: 60px;
  margin: 0 1ch 2px 0;
  border-radius: 4px 4px;
  padding: 0 1ch;
  color: white;
  background-color: inherit;
}

.converter .terran .weekday {
  border: 1px solid rgb(0, 119, 224);
}

.converter .terran:not(.active) .weekday:hover {
  color: black;
  background-color: rgb(0, 83, 156);
}

.converter .lariena .weekday {
  border: 1px solid magenta;
}

.converter .lariena:not(.active) .weekday:hover {
  color: black;
  background-color: rgb(168, 0, 168);
}

.converter .moons .header {
  border: 1px solid white;
}

.converter .inputs > input {
  border-width: 0;
  padding: 1px;
  background-color: inherit;
  color: inherit;
  width: 2ch;
  text-align: right;
  font: inherit;
}

.converter .inputs > .overlay {
  margin-right: calc(-2ch - 2px);
  width: 2ch;
  padding: 0 1px;
  text-align: left;
  pointer-events: none;
}

.converter .line.active .inputs > input {
  border-width: 0 0 1px 0;
}

.converter .inputs > .spacing,
.converter .output > .spacing {
  margin-right: 1ch;
}

.converter .inputs > input.five-size {
  width: 5ch;
}

/* For Firefox */
.converter input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
.converter input[type="number"]::-webkit-inner-spin-button,
.converter input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.converter .output {
  padding-bottom: 1px;
}
</style>
