<template>
  <div class="converter">
    <div class="line terran">
      <button class="weekday" :title="weekday" @click="$emit('terran')">
        Terran
      </button>
      <TerranDisplay class="output" :target="target.getTerran()" />
    </div>
    <div class="line lariena active">
      <button class="weekday" active>
        La'riena
      </button>
      <div class="inputs">
        <input
          v-model.number="year"
          class="five-size"
          type="number"
          name="conv-lariena-year"
          maxlength="5"
          :placeholder="epoch.year"
        />
        <span>-</span>
        <div class="overlay">{{ padOverlay(month) }}</div>
        <input
          v-model.number="month"
          type="number"
          name="conv-lariena-month"
          min="1"
          :max="target.maxMonth()"
          :placeholder="padStart(epoch.month, 2, '0')"
        />
        <span>-</span>
        <div class="overlay">{{ padOverlay(date) }}</div>
        <input
          v-model.number="date"
          class="spacing"
          type="number"
          name="conv-lariena-date"
          min="1"
          :max="target.maxDate()"
          :placeholder="padStart(epoch.date, 2, '0')"
        />

        <span class="spacing" :title="weekday">
          {{ weekday.slice(0, 3).toUpperCase() }}
        </span>

        <div class="overlay">{{ padOverlay(hour) }}</div>
        <input
          v-model.number="hour"
          type="number"
          name="conv-lariena-hour"
          min="0"
          :max="maxHour"
          :placeholder="padStart(epoch.hour, 2, '0')"
        />
        <span>:</span>
        <div class="overlay">{{ padOverlay(moment) }}</div>
        <input
          v-model.number="moment"
          type="number"
          name="conv-lariena-moment"
          min="0"
          :max="maxMoment"
          :placeholder="padStart(epoch.moment, 2, '0')"
        />
        <span>:</span>
        <div class="overlay">{{ padOverlay(second) }}</div>
        <input
          v-model.number="second"
          type="number"
          name="conv-lariena-second"
          min="0"
          :max="maxSecond"
          :placeholder="padStart(epoch.second, 2, '0')"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Clock from "./Clock.vue";
import TerranDisplay from "./TerranDisplay.vue";
import {
  Tridate,
  TriMonth,
  TriWeekday,
  secondsInMoment,
  momentsInHour,
  hoursInDay
} from "@/Tritime";

const padWithZeros = function(str: string, len = 2) {
  return "0".repeat(len - str.toString().length) + str;
};

const padWithLeftZeros = function(str: any, len = 2) {
  if (str === "") return "\u2007".repeat(len);
  return padWithZeros("\u2007".repeat(str.toString().length), len);
};

export default Vue.extend({
  components: { TerranDisplay },
  props: {
    input: {
      type: Date,
      default: Tridate.epoch
    }
  },
  data: function(): {
    epoch: Tridate;
    year: number | string;
    month: number | string;
    date: number | string;
    hour: number | string;
    moment: number | string;
    second: number | string;
    maxHour: number;
    maxMoment: number;
    maxSecond: number;
  } {
    const input = Tridate.fromTerran(this.$props.input);
    return {
      epoch: new Tridate(),
      year: input.year,
      month: input.month,
      date: input.date,
      maxHour: hoursInDay - 1,
      hour: input.hour,
      maxMoment: momentsInHour - 1,
      moment: input.moment,
      maxSecond: secondsInMoment - 1,
      second: input.second
    };
  },
  computed: {
    weekday: function(): string {
      return TriWeekday[(this.target as Tridate).day];
    },
    target: function(): Tridate {
      const epoch = this.epoch as Tridate;
      const date = new Tridate(
        this.year === "" ? epoch.year : (this.year as number),
        this.month === "" ? epoch.month : (this.month as number),
        this.date === "" ? epoch.date : (this.date as number),
        this.hour === "" ? epoch.hour : (this.hour as number),
        this.moment === "" ? epoch.moment : (this.moment as number),
        this.second === "" ? epoch.second : (this.second as number)
      );

      (this.$emit as Function)("set-date", date.getTerran());
      return date;
    }
  },
  methods: {
    padStart: function(str: string, maxLength: number, fillString = "\u00A0") {
      return String(str).padStart(maxLength, fillString);
    },
    padOverlay: function(value: string | number, maxLength: number = 2) {
      if (value === "") return "";
      return "0".repeat(maxLength - value.toString().length);
    }
  }
});
</script>

<style>
.lariena.active .weekday:hover {
  background-color: magenta;
}

.lariena.active .weekday {
  background-color: magenta;
}

.lariena.active .inputs > input {
  border-color: magenta;
}
</style>
