<template>
  <div :title="full">
    <span>{{ padStart(time.year, 5) }}</span>
    <span>-</span>
    <span>{{ padWithZeros(time.month) }}</span>
    <span>-</span>
    <span class="margin">{{ padWithZeros(time.date) }}</span>
    <span class="margin">{{ weekday.slice(0, 3).toUpperCase() }}</span>
    <span>{{ padWithZeros(time.hour) }}</span>
    <span>:</span>
    <span>{{ padWithZeros(time.moment) }}</span>
    <span>:</span>
    <span>{{ padWithZeros(time.second) }}</span>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Tridate, TriMonth, TriWeekday } from "@/Tritime";

const padWithZeros = function(str: string, len = 2) {
  return "0".repeat(len - str.toString().length) + str;
};

const padWithLeftZeros = function(str: any, len = 2) {
  if (str === "") return "\u2007".repeat(len);
  return padWithZeros("\u2007".repeat(str.toString().length), len);
};

const padWithSpace = function(str: any, len = 2) {
  return "\u2007".repeat(len - str.toString().length) + str;
};

export default Vue.extend({
  props: {
    target: {
      type: Date,
      required: true
    }
  },
  data: function() {
    return { time: Tridate.fromTerran(this.$props.target) };
  },
  computed: {
    weekday: function(): string {
      return TriWeekday[this.$data.time.day];
    },
    full: function() {
      const day = this.weekday as string;
      const time = this.$data.time;

      let ender = "th";
      if (time.date % 10 == 1 && time.date != 11) {
        ender = "st";
      } else if (time.date % 10 == 2 && time.date != 12) {
        ender = "nd";
      } else if (time.date % 10 == 3 && time.date != 13) {
        ender = "rd";
      }

      return `${day}, ${time.date + ender} of the ${TriMonth[time.month]}, ${
        time.year
      }, ${padWithZeros(time.hour)}:${padWithZeros(time.moment)}:${padWithZeros(
        time.second
      )}`;
    }
  },
  watch: {
    target: function(newTarget, oldTarget): void {
      this.time = Tridate.fromTerran(newTarget);
    }
  },
  methods: {
    padWithZeros: padWithZeros,
    padWithSpace: padWithSpace,
    padStart: function(str: string, maxLength: number, fillString = "\u00A0") {
      return str.toString().padStart(maxLength, fillString);
    }
  }
});
</script>

<style>
span {
  padding: 1px;
  display: inline-block;
}

.margin {
  margin-right: 1ch;
}
</style>
