<template>
  <div class="converter">
    <div class="line terran active">
      <button class="weekday">
        Terran
      </button>
      <div class="inputs">
        <input
          v-model.number="year"
          class="five-size"
          type="number"
          name="conv-terran-year"
          maxlength="5"
          :placeholder="epoch.getUTCFullYear()"
        />
        <span>-</span>
        <div class="overlay">{{ padOverlay(month) }}</div>
        <input
          v-model.number="month"
          type="number"
          name="conv-terran-month"
          min="1"
          max="12"
          :placeholder="padStart(epoch.getUTCMonth() + 1, 2, '0')"
        />
        <span>-</span>
        <div class="overlay">{{ padOverlay(date) }}</div>
        <input
          v-model.number="date"
          class="spacing"
          type="number"
          name="conv-terran-date"
          min="1"
          max="31"
          :placeholder="padStart(epoch.getUTCDate(), 2, '0')"
        />

        <span class="spacing" :title="weekday">
          {{ weekday.slice(0, 3).toUpperCase() }}
        </span>

        <div class="overlay">{{ padOverlay(hour) }}</div>
        <input
          v-model.number="hour"
          type="number"
          name="conv-terran-hour"
          min="0"
          max="23"
          :placeholder="padStart(epoch.getUTCHours(), 2, '0')"
        />
        <span>:</span>
        <div class="overlay">{{ padOverlay(minute) }}</div>
        <input
          v-model.number="minute"
          type="number"
          name="conv-terran-minute"
          min="0"
          max="59"
          :placeholder="padStart(epoch.getUTCMinutes(), 2, '0')"
        />
        <span>:</span>
        <div class="overlay">{{ padOverlay(second) }}</div>
        <input
          v-model.number="second"
          type="number"
          name="conv-terran-second"
          min="0"
          max="59"
          :placeholder="padStart(epoch.getUTCSeconds(), 2, '0')"
        />
      </div>
    </div>
    <div class="line lariena">
      <button class="weekday" @click="$emit('lariena')">
        La'riena
      </button>
      <LarienaDisplay class="output" :target="target" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Clock from "./Clock.vue";
import LarienaDisplay from "./LarienaDisplay.vue";
import { Tridate, TriMonth, TriWeekday } from "@/Tritime";

const padWithZeros = function(str: string, len = 2) {
  return "0".repeat(len - str.toString().length) + str;
};

const padWithLeftZeros = function(str: any, len = 2) {
  if (str === "") return "\u2007".repeat(len);
  return padWithZeros("\u2007".repeat(str.toString().length), len);
};

export default Vue.extend({
  components: { LarienaDisplay },
  props: {
    input: {
      type: Date,
      default: Tridate.epoch
    }
  },
  data: function() {
    const input = this.$props.input;
    return {
      epoch: Tridate.epoch,
      year: input.getUTCFullYear() as number | string,
      month: (input.getUTCMonth() + 1) as number | string,
      date: input.getUTCDate() as number | string,
      hour: input.getUTCHours() as number | string,
      minute: input.getUTCMinutes() as number | string,
      second: input.getUTCSeconds() as number | string
    };
  },
  computed: {
    weekday: function() {
      const day = (this.target as Date).getUTCDay();

      switch (day) {
        case 0:
          return "Sunday";
        case 1:
          return "Monday";
        case 2:
          return "Tuesday";
        case 3:
          return "Wednesday";
        case 4:
          return "Thursday";
        case 5:
          return "Friday";
        case 6:
          return "Saturday";
        default:
          return "???";
      }
    },
    target: function(): Date {
      const epoch = this.epoch as Date;

      const date = new Date(
        this.year === "" ? epoch.getUTCFullYear() : (this.year as number),
        this.month === "" ? epoch.getUTCMonth() : (this.month as number) - 1,
        this.date === "" ? epoch.getUTCDate() : (this.date as number),
        this.hour === "" ? epoch.getUTCHours() : (this.hour as number),
        this.minute === "" ? epoch.getUTCMinutes() : (this.minute as number),
        this.second === "" ? epoch.getUTCSeconds() : (this.second as number)
      );

      (this.$emit as Function)("set-date", date);
      return date;
    }
  },
  methods: {
    padStart: function(str: string, maxLength: number, fillString = "\u00A0") {
      return String(str).padStart(maxLength, fillString);
    },
    padOverlay: function(value: string | number, maxLength: number = 2) {
      if (value === "") return "";
      return "0".repeat(maxLength - value.toString().length);
    }
  }
});
</script>

<style>
.terran.active .weekday {
  background-color: rgb(0, 119, 224);
}

.terran.active .inputs > input {
  border-color: rgb(0, 83, 156);
}

.terran.active .inputs > input {
  border-color: rgb(0, 119, 224);
}
</style>
