<template>
  <div :title="full">
    <span>{{ padStart(target.getUTCFullYear(), 5) }}</span>
    <span>-</span>
    <span>{{ padStart(target.getUTCMonth() + 1, 2, "0") }}</span>
    <span>-</span>
    <span class="margin">{{ padStart(target.getUTCDate(), 2, "0") }}</span>
    <span class="margin">{{ weekday.slice(0, 3).toUpperCase() }}</span>
    <span>{{ padStart(target.getUTCHours(), 2, "0") }}</span>
    <span>:</span>
    <span>{{ padStart(target.getUTCMinutes(), 2, "0") }}</span>
    <span>:</span>
    <span>{{ padStart(target.getUTCSeconds(), 2, "0") }}</span>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    target: {
      type: Date,
      required: true
    }
  },
  computed: {
    weekday: function(): string {
      const day = (this.$props.target as Date).getUTCDay();

      switch (day) {
        case 0:
          return "Sunday";
        case 1:
          return "Monday";
        case 2:
          return "Tuesday";
        case 3:
          return "Wednesday";
        case 4:
          return "Thursday";
        case 5:
          return "Friday";
        case 6:
          return "Saturday";
        default:
          return "???";
      }
    },
    full: function(): string {
      return (this.$props.target as Date).toUTCString();
    }
  },
  methods: {
    padStart: function(str: string, maxLength: number, fillString = "\u00A0") {
      return String(str).padStart(maxLength, fillString);
    }
  }
});
</script>

<style></style>
