<template>
  <div id="app">
    <h1>Tristone</h1>
    <div id="current-time">
      <h2>Local Time</h2>
      <p>
        On
        <select v-model="timezone">
          <option
            v-for="timezone in timezones"
            :key="timezone.value"
            :value="timezone.value"
            >{{ timezone.text }}</option
          > </select
        >, it is currently
        <br />
        <Clock
          :target="new Date(Date.now())"
          :ticking="true"
          :timezone="timezone"
        />
      </p>
    </div>
    <div id="converter">
      <h2>Converter</h2>
      <Converter />
    </div>
    <div id="calendar">
      <h2>Calendar</h2>
      <input id="year" v-model.number="year" type="number" name="year" />
      <Calendar :year="year" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Clock from "./components/Clock.vue";
import Converter from "./components/Converter.vue";
import Calendar from "./components/Calendar.vue";
import { Tridate } from "./Tritime";

@Component({
  components: {
    Clock,
    Converter,
    Calendar
  }
})
export default class App extends Vue {
  year = new Tridate().year;
  timezone = 0;
  timezones = [{ text: "La'riena", value: 0 }];
}
</script>

<style>
body {
  color: rgb(185, 203, 217);
  background: #181a1b;
}

#app {
  font-family: Lato, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

span.location {
  font-weight: bold;
}

#year {
  background: transparent;
  border: none;
  border-bottom: 1px solid magenta;
  color: inherit;
  font-family: inherit;
  text-align: center;
  font-size: inherit;
  max-width: 8ch;
}
</style>
